$SIDE_BAR_WIDTH: 200px;

/*
spin animation
animation: 1s spin linear infinite;
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*/

html {
    background-color: rgb(150, 150, 200);
}
body {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: $SIDE_BAR_WIDTH 1fr;
}
header {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    // Rainbow Title
    h1 {
        background-image: linear-gradient(to right, blue, green, orange, red);
        background-clip: text;
        color: transparent;
        font-style: italic;
        font-size: 48px;
        max-width: max-content;
    }
}
// Main Content
.main {
    $MARGIN: 10px;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: 30px;
    margin-right: 30px;
    background-color: aqua;;
    border: double 3px rgb(0, 0, 0);
    h2 {
        margin: $MARGIN;
        color: black;
        font-style: normal;
        display: inline-block;
    }
    p {
        margin: $MARGIN;
        color: black;
    }
    .yyyy-mm-dd {
        color: blue;
    }
}
// Side Bar
.side-bar {
    grid-row: 1/2;
    grid-column: 1/2;
    width: $SIDE_BAR_WIDTH;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: khaki;
    p {
        margin: 10px;
    }
    .sections {
        font-weight: bold;
        font-size: medium;
    }
}
