$BLACK: #010101;
$LIGHT_BLACK: #CDCDCD;

:root {
    h1, h2, h3, h4, h5, p, :link, :visited {
        color: $BLACK;
    }
    h1 {
        font-size: 46px;
        font-weight: bold;
    }
    h2 {
        font-size: 32px;
        font-weight: bold;
    }
    h3 {
        font-size: 24px;
        font-weight: 500;
    }
    h4 {
        font-size: 20px;
        font-weight: 500;
    }
    h5 {
        font-size: 16px;
        font-weight: normal;
    }
    p, span, blockquote {
        font-size: 18px;
        font-weight: normal;
    }
    strong {
        font-size: 18px;
    }
    :link, :visited {
        text-decoration: underline;
    }
    code {
        color: #d76e00;
    }
    blockquote {
        background: #efefef;
        border-left: solid 5px #007bbb;
        margin: 0;
        padding: 1em;
        position: relative;
        width: 100%;
    }
    blockquote > p {
        margin: 0;
    }
}

.my-icon {
    display: inline-block;
    text-align: center;
    width: 100%;
    img {
        border-radius: 50%;
        filter: none;
        max-width: 40%;
        max-height: 40%;
    }
    img:hover {
        filter: none;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    border-bottom: solid $BLACK 1px;
    h1 {
        margin: 0px;
    }
    .lastupdate {
        content: "";
        display: block;
        clear: both;
    }
    p, time {
        font-weight: 400;
        margin: 0;
        margin-bottom: 8px;
    }
}

.ghash-wasm {
    textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 10em;
    }
    form {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    table {
        max-width: 100%;
        min-width: 100%;
        border-collapse: collapse;
    }
    col:first-child {
        width: 15%;
    }
    th, td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 16px;
        word-break: break-word;
    }
    th:first-child {
        text-align: left;
    }
    tbody > tr {
        border-top: 1px $LIGHT_BLACK solid;
        border-bottom: 1px $LIGHT_BLACK solid;
    }
    tbody > tr:first-child {
        padding: 1em;
        border-bottom: 1px $LIGHT_BLACK solid;
    }
    tbody > tr:last-child {
        border-top: 1px $LIGHT_BLACK solid;
    }
}

body {
    max-width: 72em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 0;
    display: grid;
    font-family: 'Noto Sans CJK JP', 'Noto Sans JP', 'sans-serif';
    background-color: #FEFEFE;
    word-wrap: break-word;
}

@media screen and (max-width: 72rem) {
    body {
        grid-template-columns: minmax(300px, max-content);
        justify-content: center;
    }
    aside {
        display: none;
    }
}

@media screen and (min-width: 72rem) {
    body {
        grid-template-columns: 1fr 2.5fr;
    }
    aside {
        grid-column: 1/2;
    }
    main {
        grid-column: 2/3;
    }
}

main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

article {
    max-width: 48rem;
    padding-right: 1rem;
    padding-left: 1rem;
    h1 {
        margin-top: 0;
    }
    .post-image {
        padding: 2em;
        text-align: center;
        h4 {
            margin: 0;
        }
    }
    img {
        width: 100%;
        filter: drop-shadow(0 0 0.2rem $BLACK);
    }
    img:hover {
        filter: drop-shadow(0 0 0.50rem $BLACK);
    }
    video {
        width: 100%;
    }
    pre {
        border-radius: 5px;
        padding: 1.5em;
        overflow-x: hidden;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    pre:hover {
        overflow-x: auto;
    }
    section {
        margin-bottom: 30px;
        div {
            padding: 15px;
            border-left: 3px solid #3291ff;
        }
    }
}

.works {
    padding: 15px;
    border-left: 3px solid #3291ff;
    h1 {
        font-size: 32px;
    }
    h3 {
        border-left: 3px solid #ff0080;
        padding-left: 10px;
        font-weight: normal;
        font-size: 20px;
    }
    .work h2 {
        font-size: 24px;
    }
}

aside {
    margin: 3rem;
    margin-bottom: auto;
    section {
        max-width: 16em;
        padding-right: auto;
        padding-left: auto;
        align-items: center;
        text-align: left;
        margin-bottom: 3rem;
    }
    h4, p {
        margin {
            top: 1em;
            bottom: 1em;
        }
    }
}
