<!DOCTYPE html>
<html lang="ja">

<head>
    {% if page is defined %}
        {% set title = page.title %}
        {% set permalink = page.permalink %}
        {% set description = page.description %}
    {% elif section is defined %}
        {% set title = section.title %}
        {% set permalink = section.permalink %}
        {% set description = section.description %}
    {% endif %}
    <meta charset="UTF-8">
    <title>{{ config.title }} - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:url" content="{{ permalink }}">
    <meta property="og:title" content="{{ config.title }} - {{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ config.base_url }}/img/og:image.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@import_bakery">
    <meta name="twitter:creator" content="@import_bakery">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&amp;display=swap&amp;subset=japanese" rel="stylesheet">
</head>

<body>
    <aside>
        <h2><a href="/">GLaTAN Blog</a></h2>
        <section>
            <h3>MENU</h3>
            <p><a href="/">Top</a></p>
            <p><a href="/blog">Blog</a></p>
            <p><a href="/portfolio">Portfolio</a></p>
            <p><a href="/theme">Theme</a></p>
        </section>
        <section>
            <h3>最近の記事</h3>
            <nav>
                {% set blog = get_section(path="blog/_index.md") %}
                {% for page in blog.pages %}
                    <p><a href="{{ page.path }}">{{ page.title | safe }}</a></p>
                {% endfor %}
            </nav>
        </section>
    </aside>
    <main>
        <article>
            {% block content %}
            {% endblock content %}
        </article>
    </main>
</body>

</html>
