{% extends "base.html" %}

{% block content %}
    <h1>記事一覧</h1>
    {% for post in section.pages %}
    <section>
        <h2><a href="{{ post.path }}">{{ post.title }}</a></h2>
        {{ post.summary | safe }}
        <a href="{{ post.path }}">続きを読む</a>
    </section>
    {% endfor %}
{% endblock content %}
