{% extends "base.html" %}

{% block content %}
    <div class="my-icon">
        <img src="/img/og:image.png">
    </div>
    <section>
        <h2>Links</h2>
        <ul>
            <li>
                <p><a href="https://github.com/glatan">GitHub</a>(Deno絡みのプロジェクトとGitLabのミラーで利用)</p>
            </li>
            <li>
                <p><a href="https://gitlab.com/glatan">GitLab</a>(基本的にこっちを使ってる)</p>
            </li>
            <li>
                <p><a href="https://keybase.io/glatan">Keybase</a></p>
            </li>
            <li>
                <p><a href="https://misskey.io/@glatan">Misskey</a></p>
            </li>
            <li>
                <p><a href="https://scrapbox.io/glatan/">Scrapbox</a>(技術メモとか)</p>
            </li>
            <li>
                <p><a href="https://twitter.com/import_bakery">Twitter</a></p>
            </li>
        </ul>
    </section>
    <p style="text-align: center"><a style="color: #FEFEFE;" href="/old-index">☆旧ページはこちら☆</a></p>
{% endblock content %}
