<!DOCTYPE html>
<HTML lang="ja">

<HEAD>
    <META charset="UTF-8">
    <TITLE>GLaTAN Blog</TITLE>
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <META http-equiv="X-UA-Compatible" content="ie=edge">
    <META name="og:url" content="{{ config.base_url }}">
    <META name="og:title" content="{{ config.title }}">
    <META name="twitter:card" content="summary">
    <META name="twitter:site" content="@import_bakery">
    <LINK rel="stylesheet" href="{{ get_url(path="legacy.css") }}">
</HEAD>

<BODY>
    <HEADER>
        <H1>GLaTAN Blog</H1>
    </HEADER>
    <DIV class="main">
        <DIV>
            <H2>♪更新情報♪</H2>
            <P><A class="yyyy-mm-dd">2019-12-08</A><BR>Blogを公開しました！</P>
        </DIV>
        <DIV>
            <H2>☆便利なリンク集☆</H2>
            <P><A href="https://twitter.com/import_bakery">Twitter</A></P>
            <P><A href="https://gitlab.com/glatan">GitLab</A></P>
            <P><A href="https://github.com/glatan">GitHub</A></P>
        </DIV>
        <DIV class="side-bar">
            <P class="sections"><A href="/blog">blog</A></P>
            <P class="sections"><A href="/portfolio">portfolio</A></P>
            <P class="sections"><A href="/theme">theme</A></P>
        </DIV>
    </DIV>
</BODY>

</HTML>