{% extends "base.html" %}

{% block content %}
    <div class="title">
        <h1>{{ page.title }}</h1>
        <div class="lastupdate">
            <p>最終更新日: </p>
            <time>{{ page.date }}</time>
        </div>
    </div>
    {{ page.content | safe }}
{% endblock content %}
